@{
    ViewData["Title"] = "SajhaSabal";
}
@model List<NoticeModel>;
<div class="text-center">
    <h1 class="display-4">SajhaSabal</h1>
    <p>Janata ko awaj Sarkar Samma.</p>
    <hr>
</div>
<div class="row">
    <div class="col-sm-8">
        <h2 style="color:#9d2923">Complaints</h2>
        @foreach (var com in ViewBag.Complaints)
        {
            <div class="border border-light p-3 mt-1">
                <a href="/Complaint/Details/@com.Id" style="color:#22669f" class="text-decoration-none">
                    <h3>@com.Title</h3>
                </a>
                <p>@com.Description</p>
            </div>
        }
    </div>
    <div class="col-sm-4">
        <div class="p-3 border border-light rounded">
            <h2 style="color:#9d2923">Notices</h2>
            <ul class="list-group list-group-flush">
                @foreach (var not in Model)
                {
                    <li class="list-group-item">
                        <a href="/Notice/Details/@not.Id" class="text-black text-decoration-none">@not.Title</a>
                    </li>
                }
            </ul>
        </div>
        <div class="p-3 border border-light rounded">
            <img src="~/img/advertisement.jpeg" alt="shoes" class="img-thumbnail">
        </div>
    </div>
</div>